<!doctype html>
<html lang="ko">
	<head>
		<title>Administrator</title>
	</head>
	<body>
		<form action="./" method="post">
			<p>
			<input type="text" name="user_id" placeholder="id"><br>
			<input type="password" name="user_pwd" placeholder="pwd"><br>
			<input type="submit" value="login">
			</p>
		</form>
	</body>
</html>
